<ion-header>
  <ion-toolbar>
  <ion-title style="text-align: center">
    Point Of Sales Mobile
  </ion-title>
  <ion-slides autoplay="5000" loop="true" speed="3000">
    <ion-slide> 
      <img src="../../assets/bn.jpg">
    </ion-slide>
    <ion-slide> 
        <img src="../../assets/bn.jpg">
      </ion-slide>
      <ion-slide> 
          <img src="../../assets/bn.jpg">
        </ion-slide>
  </ion-slides>
</ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
<ion-grid>
    <ion-row>
        <ion-col size="4">
            <ion-card>
                <img src="../../assets/1.png">
            </ion-card>
            <ion-card>
            <ion-card-title class="judul-menu" style="text-align: center">Menu_POS</ion-card-title>
          </ion-card>
        </ion-col>
        <ion-col size="4">
            <ion-card>
                <img src="../../assets/Travel History(1) copy.png">
            </ion-card>
            <ion-card>
                <ion-card-title class="judul-menu" style="text-align: center">Menu_POS</ion-card-title>
              </ion-card>
        </ion-col>
        <ion-col size="4">
            <ion-card>
                <img src="../../assets/Travel Hotel copy.png">
            </ion-card>
            <ion-card>
                <ion-card-title class="judul-menu" style="text-align: center">Menu_POS</ion-card-title>
              </ion-card>
        </ion-col>
      </ion-row>
</ion-grid>
<ion-grid>
    <ion-row>
        <ion-col size="4">
            <ion-card>
                <img src="../../assets/Travel Kereta copy.png">
            </ion-card>
            <ion-card>
                <ion-card-title class="judul-menu" style="text-align: center">Menu_POS</ion-card-title>
              </ion-card>
        </ion-col>
        <ion-col size="4">
            <ion-card>
                <img src="../../assets/Travel Pesawat copy.png">
            </ion-card>
            <ion-card>
                <ion-card-title class="judul-menu" style="text-align: center">Menu_POS</ion-card-title>
              </ion-card>
        </ion-col>
        <ion-col size="4">
            <ion-card>
                <img src="../../assets/Travel Tour copy.png">
            </ion-card>
            <ion-card>
                <ion-card-title class="judul-menu" style="text-align: center">Menu_POS</ion-card-title>
              </ion-card>
        </ion-col>
      </ion-row>
</ion-grid>
</ion-card>
<ion-grid>
  <ion-slides>
    <ion-row>
        <ion-col size="3">
            <ion-card>
                <img src="../../assets/Travel Kereta copy.png">
            </ion-card>
            <ion-card>
                <ion-card-title class="judul-menu" style="text-align: center"></ion-card-title>
              </ion-card>
        </ion-col>
        <ion-col size="3">
            <ion-card>
                <img src="../../assets/Travel Pesawat copy.png">
            </ion-card>
            <ion-card>
                <ion-card-title class="judul-menu" style="text-align: center"></ion-card-title>
              </ion-card>
        </ion-col>
        <ion-col size="3">
            <ion-card>
                <img src="../../assets/Travel Tour copy.png">
            </ion-card>
            <ion-card>
                <ion-card-title class="judul-menu" style="text-align: center"></ion-card-title>
              </ion-card>
        </ion-col>
        <ion-col size="3">
            <ion-card>
                <img src="../../assets/Travel Tour copy.png">
            </ion-card>
            <ion-card>
                <ion-card-title class="judul-menu" style="text-align: center"></ion-card-title>
              </ion-card>
        </ion-col>
      </ion-row>
    </ion-slides>
</ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>